<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Cerfa{% endblock %}</title>
        <link rel="icon" href="{{ asset('assets/icons/favicon.ico') }}" sizes="any"><!-- 64×64 -->
        <link rel="icon" type="image/svg+xml" href="{{ asset('assets/icons/favicon.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <footer id="react-footer"></footer>
    </body>
</html>
